<!DOCTYPE html>
<html>
<head>
	<title>PineCore dev</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">Wayin</span>

		</div>
	</header>

	<main class="mdl-layout__content">
		<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
			<div class="page-content">
				<!-- Your content goes here -->
			</div>
		</section>
		<section class="mdl-layout__tab-panel" id="fixed-tab-2">
			<div class="page-content">
				<!-- Your content goes here -->
			</div>
		</section>
		<section class="mdl-layout__tab-panel" id="fixed-tab-3">
			<div class="page-content">
				<!-- Your content goes here -->
			</div>
		</section>
<header class="mdl-layout__header header-bottom">
	<div class="mdl-layout-icon"></div>
	<div class="mdl-layout__header-row">
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" v-for="item in menu"  v-bind:href="item.href"><i v-bind:class="item.menu"></i></a>
		</nav>
	</div>
</header>
	</main>
</div>
</body>
<script type="text/javascript" src="server.js"></script>
<script type="text/javascript" src="core.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>