    header,.mdl-layout__tab-bar,.mdl-layout__header,.mdl-layout__header-row {
    width: 80%;
    margin: 0 auto;
        border-radius: 0 0 24px 24px;

}
body{
    background: whitesmoke;
}
    .mdl-layout__header{
background-image: -webkit-linear-gradient(45deg, #312a6c, #852d91);
background-image: linear-gradient(45deg, #312a6c, #852d91);
    }
div.preloader{

}
    .mdl-navigation__link{
        font-size: 1.25em;
    }

.header-bottom{
    position: absolute;
    bottom: 0;
    left: 25%;
    border-radius: 24px 24px 0 0;
       width: 45%;
       margin: 0 auto;
background-image: -webkit-linear-gradient(45deg, #312a6c, #852d91);
background-image: linear-gradient(45deg, #312a6c, #852d91);


}